/*
* Author: Md. Shaon
* Developed by: Md. Shaon
* Version: 1.0;
*/

/* RESPONSIVE-1 styles*/
@media (min-width: 1600px) {

}


/* RESPONSIVE-2 styles*/
@media (max-width: 1199px) {

}


/* RESPONSIVE-3 styles*/
@media (max-width: 991px) {

}


/* RESPONSIVE-4 styles*/
@media (max-width: 767px) {

}


/* RESPONSIVE-5 styles*/
@media (max-width: 639px) {

}


/* RESPONSIVE-6 styles*/
@media (max-width: 479px) {

}