// ---------------------------
// Variables
// -----------------------------
// Fonts
$first_fonts: 'OpenSans', 'Century Gothic', sans-serif;
$second_fonts: 'Poppins', 'Century Gothic', sans-serif;
$special_fonts: 'Raleway', 'Century Gothic', sans-serif;

// Font Colors
$first_color: #222;
$second_color: #222;
$special_color: #1085e4;

// Link Colors
$first_link_color: #3DB3E5;
$second_link_color: #3DB3E5;
$special_link_color: #3DB3E5;

// Link Hover Colors
$first_link_hover_color: #3CB29A;
$second_link_hover_color: #3CB29A;
$special_link_hover_color: #3CB29A;


// Background
$first_bg: #fff;
$second_bg: #222;
$special_bg: #222;

// Hover Background
$first_bg_hover: #fff;
$second_bg_hover: #222;
$special_bg_hover: #222;


// Overlay Background
$first_over_bg: #3372ac;
$second_over_bg: #222;
$special_over_bg: #222;

// Overlay Hover Background
$first_over_hover_bg: rgba(0, 0, 0, 0.75);
$second_over_hover_bg: #222;
$special_over_hover_bg: #222;