/*
* Author: Md. Shaon
* Developed by: Md. Shaon
* Version: 1.0;
*/
/* RESPONSIVE-1 styles*/
/* RESPONSIVE-2 styles*/
/* RESPONSIVE-3 styles*/
/* RESPONSIVE-4 styles*/
/* RESPONSIVE-5 styles*/
/* RESPONSIVE-6 styles*/
